.stockInfo{
    padding:0 25px;
    font-size:20px;
    margin-bottom: 50px;
}
.getBack-btn{
    margin: 0 25px;
    outline:none;
    border-radius: 0px;
    background-color:#0004ed;
    color:#fff;
    border: none;
    padding:10px;
    transition: all 0.2s ease-in;
}
.getBack-btn:hover{
    transform:scale(.97);
    opacity:.9;
}
.ItemDetailStyle{
    color: red;
}